.MainTitle{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;

}
body{
    background-color: #9370DB;

}
.Top{
    background-color: white;
    margin : 25px 50px 75px 100px;
    
}
.Top h2{
    text-align:center ;
}
.Container{
    border: 3px solid #fff;
    display:flex;
}
.Pass{
    flex:1;
    background-color: white;
}
.Trip{
    flex:1;
    background-color: white;
}
.Price{
    flex:1;
    background-color: white;

}
.Return #returnHome{
    margin:0 auto;
    display:block;
    background-color: purple;
    text-align: center;
    font-size: 16px;
    border: 5px solid black;
    cursor: pointer;
    color:white;
}
.Return #returnLast{
    margin:0 auto;
    display:block;
    background-color: purple;
    text-align: center;
    font-size: 16px;
    border: 5px solid black;
    cursor: pointer;
    color:white;
}